<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Make It Happen</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
  		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
 		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
		
		<style>
      			.wrapper 
						{
        				width: 100%;	
        				margin: 2em auto;
      					}
				img._idGenObjectAttribute-1 
						{
						left:0px;
						position:absolute;
						top:0px;
						}
				img._idGenObjectAttribute-2 
						{
						height:100.00%;
						min-width:100%;
						width:100.00%;
						}
		</style>
	</head>
	
<body {width:90%;margin: 0 auto;min-width:600px;max-width:2000px}>
	<div class="wrapper">
		
			<!-- Parede Azul -->
		<div id="container-fluid" style="height:477.00px;
										 left:0px;
										 position:absolute;
										 top:0px;
										 width:1366.00px;">
			<img class="_idGenObjectAttribute-2 _idGenObjectAttribute-1" src="static/main/image/parede.png" alt="">
		</div>
		
			<!-- Secretaria -->
		<div id="container-fluid" style="height:373.00px;
										 left:0px;
										 position:relative;
										 top:0px;
										 transform:translate(0.000px,449.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
										 transform-origin:0% 0%;
										 width:1366.00px;}">
			<img class="_idGenObjectAttribute-2 _idGenObjectAttribute-1" src="static/main/image/secretaria.png" alt="">
		</div>
		
			<!-- Luz -->
		<div id="container-fluid">
			<img class="_idGenObjectAttribute-2 _idGenObjectAttribute-1" 
				 src="static/main/image/luz.png" style="left:0px;
											position:absolute; 
											top:0px;
											transform:translate(167.781px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
											transform-origin:0% 0%;
											width:1198.22px;" alt="">
		</div>
		
			<!-- Candeeiro -->
		<div id="container" style="height:524.85px;
										 left:0px;
										 position:absolute;
										 top:0px;
										 transform:translate(-119.001px,36.147px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
										 transform-origin:0% 0%;
										 width:408.04px">
			<img class="_idGenObjectAttribute-2 _idGenObjectAttribute-1" src="static/main/image/candeeiro.png" style="" alt="">
		</div>
		
			<!-- Planta -->
		<div id="container" style="height:221.04px;
										 left:0px;
										 position:absolute;
										 top:0px;
										 transform:translate(1091.000px,289.479px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
										 transform-origin:0% 0%;
										 width:106.08px;">
			<img class="_idGenObjectAttribute-2 _idGenObjectAttribute-1" src="static/main/image/planta.png" alt="">
		</div>
		
			<!-- Copos com Lapis -->
		<div id="container" style="height:253.60px;
										 left:0px;
										 position:absolute;
										 top:0px;
										 transform:translate(150.999px,320.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
										 transform-origin:0% 0%;
										 width:113.04px;">
			<img class="_idGenObjectAttribute-2 _idGenObjectAttribute-1" src="static/main/image/copo_com_lapis.png" alt="">
		</div>
		
			<!-- Oculos -->
		<div id="container" style="height:119.28px;
										 left:0px;
										 position:absolute;
										 top:0px;
										 transform:translate(325.200px,497.219px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
										 transform-origin:0% 0%;
										 width:262.08px;">
			<img class="_idGenObjectAttribute-2 _idGenObjectAttribute-1" src="static/main/image/oculos.png" alt="">
		</div>
		
			<!-- Papeis Cenario -->
		<div id="container" style="height:204.00px;
										 left:0px;
										 position:absolute;
										 top:0px;
										 transform:translate(559.000px,530.199px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
										 transform-origin:0% 0%;
										 width:308.88px;">
			<img class="_idGenObjectAttribute-2 _idGenObjectAttribute-1" src="static/main/image/papeis_cenario.png" alt="">
		</div>
		
			<!-- Caixa de Serviços com texto -->
		<div id="container-fluid" style="height:744.84px;
								   left:0px;
								   position:absolute;
								   top:0px;
								   transform:translate(831.049px,24.220px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
								   transform-origin:0% 0%;	
								   width:495.73px;">
			<img class="_idGenObjectAttribute-2 _idGenObjectAttribute-1" src="static/main/image/servicos sem bola_com_texto.png" alt="">
		</div>
		
			<!-- Bola Vermelha Make It Happen -->
		<div id="container" style="height:113.67px;
										 left:0px;
										 position:absolute;
										 top:0px;	
										 transform:translate(1154.510px,02.331px) rotate(0.000deg) skew(0.000deg)  scale(0.300,0.300);
										 transform-origin:0% 0%;	
										 ">
			<a href="http://makeithappen.design"><img src="static/main/image/Bolavermelha_com_texto.png" style="left:0px;position:absolute;top:0px;" alt=""></a>
		</div> 
		
		
		<!-- Consultora Criativa Logo -->
		<div id="container">
			<a href="http://makeithappen.design">
				<img class="_idGenObjectAttribute-2 _idGenObjectAttribute-1" 
					 src="static/main/image/logo.png" style="height:373.52px;
											left:0px;
											position:absolute;
											top:0px;transform:translate(313.750px,81.979px) rotate(0.000deg) skew(0.000deg) scale(0.300,0.300);	
											transform-origin:0% 0%;
											width:628.48px;" alt=""></a>
		</div>
		
			<!-- Icone Telf -->
		<div id="container" style="height:58.34px;
							left:0px;
							position:absolute;
							top:0px;
							transform:translate(36.000px,746.661px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
							transform-origin:0% 0%;
							width:61.01px;">
			<a href="tel:00351917494610">
				<img class="_idGenObjectAttribute-2 _idGenObjectAttribute-1" src="static/main/image/icone_tlm.png" alt="">
			</a>
		</div>
		
			<!-- Telemóvel -->
		<div id="container" class="Basic-Paragraph" style="height:26.04px;
														   left:0px;
														   position:absolute;
														   top:0px; 
														   transform:translate(110.488px,763.729px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
														   width:201.58px;">
			<a href="tel:00351917494610">
				<h4><font color="#011957">(+351) 917 494 610</font></h4>
			</a>
		</div>
		
			<!-- Icone Mail -->
		<div id="container" style="height:58.19px;
										 left:0px;
										 position:absolute;
										 top:0px;
										 transform:translate(292.737px,746.814px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
								   		 transform-origin:0% 0%;
										 width:61.55px;">
			<a href="mailto:consultoracriativa@makeithappen.design">
				<img class="_idGenObjectAttribute-2 _idGenObjectAttribute-1" src="static/main/image/icone_mail.png" alt="">
			</a>
		</div>
		
			<!-- Mail -->
		<div id="container" class="Basic-Text-Frame" style="height:33.06px;
															left:0px;
															position:absolute;
															top:0px;	
															transform:translate(366.860px,763.939px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);	
	
															width:432.51px;">
			<a href="mailto:consultoracriativa@makeithappen.design">
				<h4><font color="#011957">consultoracriativa@makeithappen.design</font></h4>
			</a>
		</div>
		
			<!-- Descrição Serviços -->
		<div id="container" class="Basic-Paragraph" style="height:035.28px;
														   left:0px;
														   position:absolute;
														   top:0px;	
														   transform:translate(278.447px,249.721px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
														   width:552.39px;
														   font-family: Aileron;">
			<font color="#0C2360" style="font-size: 17px"><p>Com mais de 20 anos de experiência na área do Design, somos uma equipa com as competências necessárias para ajudar as empresas nos seus projectos, aliando o conhecimento técnico a experiência e a linguagem visual propondo soluções práticas</p>
			<p></p>
			<h4><b>Estamos focados em </font></b><font color="#e4342a" style="font-size: 21px"><b>IDEALIZAR - CRIAR - DESENVOLVER</b></font></h4>
		</div>
		
			<!-- Fale connosco -->
		<div id="container" class="Basic-Paragraph" style="height:135.28px;
															left:0px;position:absolute;
															top:0px;	
															transform:translate(19.447px,592.721px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);									width:755.39px;
															font-family: Aileron; 
															font-size: 14px">
			<p><font color="#0C2360" style="font-size: 29px">FALE CONNOSCO</font></p>
			<font color="#0C2360" style="font-size: 14px"><p>Todo o Orçamento é gratuito e sem compromisso.<br>Todos os Projectos são únicos e quanto mais informação tiver sobre o que pretende, melhor o podemos ajudar.<br>Nesse sentido, sugerimos um contacto mais personalizado por telefone, ou em breve reunião.</p></font>
		</div>

	</div>
	</div>
</body>
</html>